In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [27]:
file_path = "data/Indicator_1_1_annual_6562429754166382300.csv"
df = pd.read_csv(file_path)

In [28]:
print("Shape:", df.shape)
print("\nColumns:", df.columns.tolist())
print("\nMissing values:\n", df.isnull().sum())
print("\nUnique countries:", df['Country'].nunique())
print("\nUnique industries:", df['Industry'].nunique())
print("\nUnique gas types:", df['Gas Type'].nunique())

Shape: (1194, 28)

Columns: ['ObjectId2', 'Country', 'ISO2', 'ISO3', 'Indicator', 'Unit', 'Source', 'CTS Code', 'CTS Name', 'CTS Full Descriptor', 'Industry', 'Gas Type', 'Seasonal Adjustment', 'Scale', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

Missing values:
 ObjectId2                 0
Country                   0
ISO2                   1194
ISO3                      0
Indicator                 0
Unit                      0
Source                    0
CTS Code                  0
CTS Name                  0
CTS Full Descriptor       0
Industry                  0
Gas Type                  0
Seasonal Adjustment       0
Scale                     0
2010                      0
2011                      0
2012                      0
2013                      0
2014                      0
2015                      0
2016                      0
2017                      0
2018                      0
2019                      0
2020                      0
2021                      0
2022                      0
2023                      0
dtype: int64

Unique countries: 25

Unique industries: 10

Unique gas types: 5

In [29]:
df.head(3)

,ObjectId2,Country,ISO2,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,Industry,Gas Type,Seasonal Adjustment,Scale,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Advanced Economies,NaN,AETMP,Annual greenhouse gas (GHG) air emissions acco...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Agriculture, Forestry and Fishing",Carbon dioxide,Seasonally Adjusted,Units,173.260853,170.220412,177.534807,175.325824,173.567963,177.091399,176.675451,178.385861,267.731429,264.950269,259.339703,264.885635,263.950294,261.488111
1,2,Advanced Economies,NaN,AETMP,Annual greenhouse gas (GHG) air emissions acco...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Agriculture, Forestry and Fishing",Fluorinated gases,Seasonally Adjusted,Units,1.024105,1.089814,1.113030,1.193029,1.167994,1.216524,1.177738,1.202901,1.078726,1.057855,1.056469,1.017692,0.986116,0.951482
2,3,Advanced Economies,NaN,AETMP,Annual greenhouse gas (GHG) air emissions acco...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...","Agriculture, Forestry and Fishing",Greenhouse gas,Seasonally Adjusted,Units,1323.978223,1315.166082,1313.348179,1356.224115,1366.936222,1376.562102,1364.670233,1371.165410,1508.188585,1473.062889,1442.419245,1453.734142,1433.944153,1426.651170

In [30]:
for col in df.columns:
    if df[col].nunique() == 1:

        print(col)
    #df[df['Country'] == 'Advanced Economies'].head(10)
        print(df[col].nunique())
    #print(df[col].value_counts())

Indicator
1
Unit
1
Source
1
CTS Code
1
CTS Name
1
CTS Full Descriptor
1
Seasonal Adjustment
1
Scale
1

In [31]:
df = df.drop(['ISO2','Indicator', 'Unit', 'Source', 'CTS Code', 'CTS Name','CTS Full Descriptor','Seasonal Adjustment', 'Scale'], axis = 1)

In [32]:
df['Gas Type'].value_counts()

Carbon dioxide       250
Greenhouse gas       250
Methane              250
Nitrous oxide        250
Fluorinated gases    194
Name: Gas Type, dtype: int64

In [33]:
df.columns

Index(['ObjectId2', 'Country', 'ISO3', 'Industry', 'Gas Type', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023'],
      dtype='object')

In [34]:
countries = df["Country"].unique()
print("Number of countries:", len(countries))
print(countries)

Number of countries: 25
['Advanced Economies' 'Africa' 'Americas' 'Asia'
 'Australia and New Zealand' 'Central Asia' 'Eastern Asia'
 'Eastern Europe' 'Emerging and Developing Economies' 'Europe' 'G20' 'G7'
 'Latin America and the Caribbean' 'Northern Africa' 'Northern America'
 'Northern Europe' 'Oceania' 'Other Oceania sub-regions'
 'South-eastern Asia' 'Southern Asia' 'Southern Europe'
 'Sub-Saharan Africa' 'Western Asia' 'Western Europe' 'World']

In [35]:
counts = (
    df["Country"]
    .value_counts()
    .reset_index()
    .rename(columns={"index": "Country", "Country": "Row_Count"})
)

print("Total unique regions:", len(counts))
counts

Total unique regions: 25

                              Country  Row_Count
0                  Advanced Economies         50
1                              Europe         50
2                      Western Europe         50
3                        Western Asia         50
4                     Southern Europe         50
5                             Oceania         50
6                     Northern Europe         50
7                                  G7         50
8                                 G20         50
9                               World         50
10  Emerging and Developing Economies         50
11                     Eastern Europe         50
12                       Eastern Asia         50
13                       Central Asia         50
14          Australia and New Zealand         50
15                               Asia         50
16                   Northern America         45
17                           Americas         45
18    Latin America and the Caribbean         45
19                      Southern Asia         44
20                             Africa         43
21                    Northern Africa         43
22          Other Oceania sub-regions         43
23                 South-eastern Asia         43
24                 Sub-Saharan Africa         43

In [38]:
# Only want continents
df_continents = df[df['Country'].isin(['Asia', 'Africa', 'Europe', 'Oceania', 'Americas'])]
df_continents
# And then focus in on those with area of highest and break down even further

,ObjectId2,Country,ISO3,Industry,Gas Type,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
50,51,Africa,NA605,"Agriculture, Forestry and Fishing",Carbon dioxide,13.764646,14.013880,15.113429,16.348389,16.397802,16.272526,16.599160,18.665183,18.274653,17.479398,17.476979,18.363328,18.627047,18.729477
51,52,Africa,NA605,"Agriculture, Forestry and Fishing",Greenhouse gas,746.666487,759.223800,783.954722,800.405420,815.142069,830.342939,857.029048,866.575458,881.852581,900.163472,927.896582,933.561471,953.968074,971.153944
52,53,Africa,NA605,"Agriculture, Forestry and Fishing",Methane,518.958969,527.655030,545.888680,555.348280,566.883360,578.143041,596.462642,600.885129,612.803188,628.271138,647.997966,650.169169,664.558934,678.069693
53,54,Africa,NA605,"Agriculture, Forestry and Fishing",Nitrous oxide,213.942872,217.554890,222.952613,228.708751,231.860907,235.927372,243.967246,247.025145,250.774741,254.412936,262.421637,265.028975,270.782093,274.354773
54,55,Africa,NA605,Construction,Carbon dioxide,14.739421,14.683788,14.612763,15.531768,15.816543,15.410865,15.617956,15.948885,17.119342,16.420184,14.998471,16.448411,16.097923,16.112988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816,936,Oceania,OCETMP,"Water supply; sewerage, waste management and r...",Carbon dioxide,1.078737,1.120538,1.165991,1.199452,1.277886,1.323179,1.366242,1.352139,1.363956,1.324029,1.284978,1.413799,1.380583,1.372198
817,937,Oceania,OCETMP,"Water supply; sewerage, waste management and r...",Fluorinated gases,0.007927,0.007768,0.007353,0.007200,0.006727,0.006216,0.006171,0.005634,0.005229,0.005342,0.005106,0.004618,0.003925,0.004017
818,938,Oceania,OCETMP,"Water supply; sewerage, waste management and r...",Greenhouse gas,17.119341,16.775185,15.623260,14.791663,14.880234,14.524249,15.076835,15.337364,15.258940,14.911750,14.767259,14.873634,14.900376,14.907682
819,939,Oceania,OCETMP,"Water supply; sewerage, waste management and r...",Methane,15.264279,14.859400,13.740488,12.929864,12.908807,12.472949,12.944900,13.239467,13.159212,12.839472,12.716227,12.686177,12.737657,12.742981
820,940,Oceania,OCETMP,"Water supply; sewerage, waste management and r...",Nitrous oxide,0.768398,0.787479,0.709428,0.655148,0.686814,0.721904,0.759522,0.740124,0.730542,0.742908,0.760949,0.769040,0.778211,0.788487

In [39]:
df_continents.columns

Index(['ObjectId2', 'Country', 'ISO3', 'Industry', 'Gas Type', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', '2022', '2023'],
      dtype='object')

In [36]:
df[df['Country'] == 'Asia']

,ObjectId2,Country,ISO3,Industry,Gas Type,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
138,139,Asia,ASIATMP,"Agriculture, Forestry and Fishing",Carbon dioxide,214.056668,221.169936,212.651910,214.715215,212.096880,224.314506,223.768087,224.261602,219.992939,221.488501,223.879120,222.542854,224.965200,229.701869
139,140,Asia,ASIATMP,"Agriculture, Forestry and Fishing",Fluorinated gases,0.059641,0.080017,0.091665,0.096087,0.111440,0.119199,0.125710,0.157617,0.158843,0.181449,0.209610,0.213433,0.218619,0.222528
140,141,Asia,ASIATMP,"Agriculture, Forestry and Fishing",Greenhouse gas,3079.353009,3119.930523,3122.388257,3144.042878,3123.515817,3156.061579,3166.617272,3173.490867,3166.517308,3167.529595,3227.345226,3242.566583,3247.427058,3260.258180
141,142,Asia,ASIATMP,"Agriculture, Forestry and Fishing",Methane,2132.403708,2146.497967,2153.367065,2165.123960,2162.881568,2169.718376,2187.834087,2202.829924,2195.860406,2181.612171,2226.927030,2249.163940,2249.367919,2253.147571
142,143,Asia,ASIATMP,"Agriculture, Forestry and Fishing",Nitrous oxide,732.832993,752.182603,756.277618,764.107616,748.425930,761.909497,754.889388,746.241724,750.505119,764.247475,776.329465,770.646356,772.875320,777.186212
143,144,Asia,ASIATMP,Construction,Carbon dioxide,375.040905,393.921847,396.686196,398.189310,403.838290,397.155893,385.315699,378.262773,388.168866,395.087723,395.593878,400.597361,393.354773,412.921720
144,145,Asia,ASIATMP,Construction,Fluorinated gases,1.897709,2.128416,2.273805,2.411704,2.594592,2.713938,2.891279,3.069742,3.186891,3.251931,3.240302,3.292828,3.363274,3.424381
145,146,Asia,ASIATMP,Construction,Greenhouse gas,379.682036,398.892241,401.852858,403.475930,409.343983,402.763264,391.002329,384.077147,394.060217,401.013736,401.511140,406.614411,399.468913,419.178442
146,147,Asia,ASIATMP,Construction,Methane,1.641451,1.696804,1.724503,1.710466,1.741808,1.731762,1.675730,1.642628,1.621502,1.606975,1.611396,1.638759,1.657905,1.707066
147,148,Asia,ASIATMP,Construction,Nitrous oxide,1.101970,1.145175,1.168353,1.164450,1.169293,1.161671,1.119621,1.102004,1.082958,1.067107,1.065564,1.085463,1.092961,1.125275
148,149,Asia,ASIATMP,"Electricity, Gas, Steam and Air Conditioning S...",Carbon dioxide,6525.575971,7179.488888,7546.967057,7879.233790,8090.668547,7983.425661,8189.698497,8629.764754,9106.468131,9246.195435,9219.533416,9976.030247,10141.700030,10662.961820
149,150,Asia,ASIATMP,"Electricity, Gas, Steam and Air Conditioning S...",Fluorinated gases,0.553060,0.699526,0.718621,0.654682,0.773760,0.645310,0.610575,0.639724,0.613921,0.593035,0.831083,0.843262,0.861152,0.876620
150,151,Asia,ASIATMP,"Electricity, Gas, Steam and Air Conditioning S...",Greenhouse gas,6605.720707,7268.613492,7641.260288,7976.674018,8190.727236,8084.429541,8294.824312,8740.916303,9225.116737,9369.527544,9342.299569,10111.998090,10280.271230,10809.032080
151,152,Asia,ASIATMP,"Electricity, Gas, Steam and Air Conditioning S...",Methane,9.293777,9.876260,10.213202,10.342309,10.828715,10.949733,11.570546,12.963554,13.605681,13.823579,13.951957,16.552383,16.911724,16.773490
152,153,Asia,ASIATMP,"Electricity, Gas, Steam and Air Conditioning S...",Nitrous oxide,70.297899,78.548819,83.361408,86.443237,88.456213,89.408838,92.944694,97.548272,104.429004,108.915495,107.983112,118.572201,120.798326,128.420145
153,154,Asia,ASIATMP,Manufacturing,Carbon dioxide,5753.080100,6089.969924,6206.858769,6358.469880,6479.117774,6415.917209,6366.596620,6375.316859,6549.532148,6742.331342,6744.649380,6866.461477,6710.216292,6879.643185
154,155,Asia,ASIATMP,Manufacturing,Fluorinated gases,375.645823,407.490824,440.840052,469.645348,517.174609,480.160262,508.116553,538.245835,576.236582,610.130018,645.649862,680.585121,719.568870,755.133364
155,156,Asia,ASIATMP,Manufacturing,Greenhouse gas,6215.866922,6586.976215,6738.085153,6920.001845,7090.380097,6988.727299,6968.331480,7008.621698,7224.153139,7452.076507,7488.860456,7648.762006,7532.194669,7740.191291
156,157,Asia,ASIATMP,Manufacturing,Methane,27.687203,29.192580,29.867024,30.586708,32.322429,31.575980,32.324206,32.698041,33.580370,34.449329,33.560152,34.755348,35.386071,35.967115
157,158,Asia,ASIATMP,Manufacturing,Nitrous oxide,59.453796,60.322887,60.519308,61.299909,61.765286,61.073848,61.294102,62.360964,64.804040,65.165817,65.001061,66.960060,67.023436,69.447628
158,159,Asia,ASIATMP,Mining,Carbon dioxide,1042.868737,1086.738200,1109.066702,1129.732583,1150.463145,1143.442103,1113.867969,1104.250276,1133.120138,1150.911999,1151.878362,1177.649293,1159.987575,1216.592975
159,160,Asia,ASIATMP,Mining,Fluorinated gases,0.024371,0.028101,0.035002,0.032811,0.035087,0.040739,0.043398,0.044784,0.046816,0.052093,0.057465,0.058402,0.059822,0.060907
160,161,Asia,ASIATMP,Mining,Greenhouse gas,2322.091418,2504.621313,2528.824634,2526.378466,2560.783318,2538.835257,2536.941165,2560.944015,2658.248582,2692.442896,2635.371774,2722.888579,2838.544729,2957.749583
161,281,Asia,ASIATMP,Mining,Methane,1277.300183,1415.900714,1417.711787,1394.595009,1408.249236,1393.323906,1421.053906,1454.709126,1523.185141,1539.629172,1481.598408,1543.301805,1676.610923,1739.137143
162,282,Asia,ASIATMP,Mining,Nitrous oxide,1.898126,1.954299,2.011143,2.018064,2.035850,2.028508,1.975892,1.939829,1.896486,1.849631,1.837540,1.879079,1.886409,1.958558
163,283,Asia,ASIATMP,Other Services Industries,Carbon dioxide,385.704854,377.787407,378.245320,396.462313,398.466618,421.179146,422.413924,428.941315,420.695880,387.984570,374.970903,365.392644,372.140962,383.708724
164,284,Asia,ASIATMP,Other Services Industries,Fluorinated gases,15.020056,17.303182,19.138183,21.788465,24.961396,27.999238,31.476511,34.873708,38.059204,41.670658,44.841580,47.794330,50.693804,53.568217
165,285,Asia,ASIATMP,Other Services Industries,Greenhouse gas,420.694686,414.579178,416.650650,437.263138,442.529931,467.657107,471.884487,481.700112,475.974477,446.205754,436.069063,429.160700,438.555887,453.271937
166,286,Asia,ASIATMP,Other Services Industries,Methane,16.345489,15.768664,15.465603,15.182430,15.117439,14.749419,14.380117,14.207350,13.580565,13.027649,12.802214,12.345246,12.100431,12.241944
167,287,Asia,ASIATMP,Other Services Industries,Nitrous oxide,3.624288,3.719925,3.801545,3.829930,3.984477,3.729303,3.613936,3.677739,3.638828,3.522877,3.454366,3.628480,3.620690,3.753053
168,288,Asia,ASIATMP,Total Households,Carbon dioxide,1526.343568,1598.269529,1681.864260,1729.010807,1762.050317,1814.263498,1857.952748,1919.308297,1940.933971,1943.921735,1851.076423,1899.284764,1955.923650,2033.091966
169,289,Asia,ASIATMP,Total Households,Fluorinated gases,6.502418,8.403682,10.216689,12.341695,14.582535,16.807090,19.041466,21.877497,24.448494,26.981911,29.447579,32.090479,34.515394,36.937133
170,290,Asia,ASIATMP,Total Households,Greenhouse gas,1695.835560,1768.037321,1853.222861,1899.032908,1935.159834,1985.107558,2028.912905,2093.863732,2114.352518,2117.600729,2024.245308,2074.141953,2133.415694,2216.880614
171,291,Asia,ASIATMP,Total Households,Methane,123.372886,120.137059,118.509611,115.601230,115.442688,111.158870,108.877802,108.127984,103.489533,100.708808,99.117414,96.292687,94.850537,96.271961
172,292,Asia,ASIATMP,Total Households,Nitrous oxide,39.616688,41.227051,42.632301,42.079177,43.084294,42.878101,43.040890,44.549954,45.480519,45.988275,44.603892,46.474024,48.126113,50.579554
173,293,Asia,ASIATMP,Total Industry and Households,Carbon dioxide,17431.626090,18632.915460,19292.359030,19928.504190,20385.761980,20366.890590,20578.838950,21163.527550,21924.940170,22264.863990,21909.462180,22949.772570,23062.406530,24087.896900
174,294,Asia,ASIATMP,Total Industry and Households,Fluorinated gases,419.016660,458.233799,501.270543,540.162627,596.224580,566.994898,603.436420,644.285328,690.969818,734.314145,779.173878,822.711208,870.366015,914.554864
175,295,Asia,ASIATMP,Total Industry and Households,Greenhouse gas,23065.663020,24517.486830,25255.991310,25949.478680,26488.369050,26460.884220,26768.483180,27461.679260,28361.695710,28780.446720,28481.449450,29681.200160,29999.586000,31179.582340
176,296,Asia,ASIATMP,Total Industry and Households,Methane,4208.765006,4386.782758,4410.057087,4416.346571,4451.476214,4457.384874,4517.956233,4583.942960,4658.702257,4673.801592,4678.195218,4782.654834,4931.567752,5020.855715
177,297,Asia,ASIATMP,Total Industry and Households,Nitrous oxide,1006.255261,1039.554812,1052.304647,1064.465284,1054.906277,1069.613854,1068.251578,1069.923420,1087.083467,1107.466993,1114.618175,1126.061555,1135.245694,1156.274855
178,298,Asia,ASIATMP,Transportation and Storage,Carbon dioxide,1514.080244,1588.941265,1661.306994,1722.107599,1788.599075,1864.420670,1914.772411,1998.528574,2063.877844,2075.987203,1846.555919,1934.780441,1995.285031,2156.903664
179,299,Asia,ASIATMP,Transportation and Storage,Fluorinated gases,18.907472,21.622375,27.309995,32.556282,35.242947,37.738824,40.335373,44.447119,47.145071,50.300878,53.693371,56.615724,59.837381,63.061839
180,300,Asia,ASIATMP,Transportation and Storage,Greenhouse gas,1602.704419,1681.993141,1760.836645,1826.193094,1897.207770,1975.176678,2028.880381,2118.807733,2187.821345,2203.448437,1973.154709,2065.917181,2131.578694,2299.752986
181,301,Asia,ASIATMP,Transportation and Storage,Methane,29.582698,29.619046,29.534999,29.062151,29.604138,29.183821,29.296539,29.461481,28.969919,28.768004,27.966293,27.969872,27.947489,28.387556
182,302,Asia,ASIATMP,Transportation and Storage,Nitrous oxide,40.134006,41.810455,42.684658,42.467062,43.761610,43.833364,44.476057,46.370559,47.828511,48.392352,44.939126,46.551145,48.508793,51.399927
183,303,Asia,ASIATMP,"Water supply; sewerage, waste management and r...",Carbon dioxide,94.875045,96.628464,98.711822,100.582696,100.461334,102.771905,104.452990,104.893097,102.150256,100.955485,101.324783,107.033486,108.833020,112.370977
184,304,Asia,ASIATMP,"Water supply; sewerage, waste management and r...",Fluorinated gases,0.406111,0.477678,0.646531,0.635554,0.748214,0.770297,0.795556,0.929303,1.073994,1.152173,1.203026,1.217629,1.247701,1.269874
185,305,Asia,ASIATMP,"Water supply; sewerage, waste management and r...",Greenhouse gas,743.714261,773.843405,792.869960,816.416398,838.721065,862.125933,881.088844,899.257647,915.451392,930.601527,952.592209,979.150658,998.129119,1023.267224
186,306,Asia,ASIATMP,"Water supply; sewerage, waste management and r...",Methane,591.137610,618.093665,633.663295,654.142310,675.288194,694.993006,710.943301,727.302871,744.809140,760.175905,780.660352,800.634796,816.734753,837.221870
187,307,Asia,ASIATMP,"Water supply; sewerage, waste management and r...",Nitrous oxide,57.295495,58.643599,59.848312,61.055838,62.223323,63.590724,64.896998,66.132375,67.418002,68.317964,69.404048,70.264747,71.313645,72.404503

In [ ]:
#Compare industries

In [10]:
counts = (
    df["ISO3"]
    .value_counts()
    .reset_index()
    .rename(columns={"index": "ISO3", "ISO3": "Row_Count"})
)

print("Total unique regions:", len(counts))
counts

Total unique regions: 25

       ISO3  Row_Count
0     AETMP         50
1    EURTMP         50
2      NAWE         50
3      NAWA         50
4      NASE         50
5    OCETMP         50
6      NANE         50
7     NA119         50
8     NA120         50
9       WLD         50
10  EMDETMP         50
11     NAEE         50
12    NA510         50
13     NACA         50
14    NAANZ         50
15  ASIATMP         50
16    NA225         45
17   AMETMP         45
18   LACTMP         45
19     NASA         44
20    NA605         43
21    NANA9         43
22   NAOOSR         43
23    NASEA         43
24      SSA         43

In [11]:
print("Indicators:", df["Indicator"].unique()[:3])
print("Gas types:", df["Gas Type"].unique())
print("Industries:", df["Industry"].unique()[:5])

Indicators: ['Annual greenhouse gas (GHG) air emissions accounts']
Gas types: ['Carbon dioxide' 'Fluorinated gases' 'Greenhouse gas' 'Methane'
 'Nitrous oxide']
Industries: ['Agriculture, Forestry and Fishing' 'Construction'
 'Electricity, Gas, Steam and Air Conditioning Supply' 'Manufacturing'
 'Mining']

In [12]:
counts = (
    df["Industry"]
    .value_counts()
    .reset_index()
    .rename(columns={"index": "Industry", "Industry": "Row_Count"})
)

print("Total unique regions:", len(counts))
counts

Total unique regions: 10

                                            Industry  Row_Count
0                                      Manufacturing        125
1                          Other Services Industries        125
2                      Total Industry and Households        125
3                         Transportation and Storage        120
4                                   Total Households        119
5                  Agriculture, Forestry and Fishing        116
6                                       Construction        116
7  Electricity, Gas, Steam and Air Conditioning S...        116
8                                             Mining        116
9  Water supply; sewerage, waste management and r...        116

In [13]:
counts = (
    df["Gas Type"]
    .value_counts()
    .reset_index()
    .rename(columns={"index": "Gas Type", "Gas Type": "Row_Count"})
)

print("Total unique regions:", len(counts))
counts

Total unique regions: 5

            Gas Type  Row_Count
0     Carbon dioxide        250
1     Greenhouse gas        250
2            Methane        250
3      Nitrous oxide        250
4  Fluorinated gases        194